body{
  background-image: url(./img/2a459f043ed0863828f4fb0754b8976e.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-style: italic !important;

}
.App {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}